.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    padding: 123px 19px 79px;
    align-items: flex-start;
}

@media screen and (min-width: 1024px) {
    .overlay {
        padding-top: 195px;
    }
}